<a href="https://colab.research.google.com/github/SHRIDHARAM/ASSIGNMENT1/blob/main/MLASSIGNMENT2(Q4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **QUESTION** **4**
# PART(A)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
train_df = pd.read_csv('http://www.amlbook.com/data/zip/features.train', sep = "  ", names = ['numbers','intensity','symmetry'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
train_df.head()

   numbers  intensity  symmetry
0      6.0   0.341092 -4.528937
1      5.0   0.444131 -5.496812
2      4.0   0.231002 -2.886750
3      7.0   0.200275 -3.534375
4      3.0   0.291936 -4.352062

In [4]:
train_df = train_df.loc[(train_df['numbers']== 1) | (train_df['numbers']== 5)] 
train_df.head()

    numbers  intensity  symmetry
1       5.0   0.444131 -5.496812
7       1.0   0.123043 -0.707875
9       1.0   0.113859 -0.931375
12      1.0   0.115371 -0.386000
13      1.0   0.102281 -0.378812

In [7]:
label_x = train_df['numbers']
label_x.head()

1     5.0
7     1.0
9     1.0
12    1.0
13    1.0
Name: numbers, dtype: float64

In [8]:
train_x = train_df.drop(['numbers'], axis=1)

In [9]:
train_x.head()

    intensity  symmetry
1    0.444131 -5.496812
7    0.123043 -0.707875
9    0.113859 -0.931375
12   0.115371 -0.386000
13   0.102281 -0.378812

In [10]:
test_df = pd.read_csv('http://www.amlbook.com/data/zip/features.test', sep = "  ", names = ['numbers','intensity','symmetry'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [11]:
test_df.head()

   numbers  intensity  symmetry
0      9.0   0.272178 -4.847937
1      6.0   0.265133 -5.102000
2      3.0   0.335926 -2.921562
3      6.0   0.264850 -4.156625
4      6.0   0.345338 -6.718438

In [12]:
test_df = test_df.loc[(test_df['numbers']== 1) | (test_df['numbers']== 5)] 
test_df.head()

    numbers  intensity  symmetry
16      1.0   0.159934 -1.742000
32      5.0   0.324840 -6.360563
36      5.0   0.251180 -4.389375
42      1.0   0.124609 -0.474438
45      1.0   0.219117 -0.904500

In [14]:
label_y = test_df['numbers']
label_y.head()

16    1.0
32    5.0
36    5.0
42    1.0
45    1.0
Name: numbers, dtype: float64

In [15]:
test_y = test_df.drop(['numbers'], axis=1)
test_y.head()

    intensity  symmetry
16   0.159934 -1.742000
32   0.324840 -6.360563
36   0.251180 -4.389375
42   0.124609 -0.474438
45   0.219117 -0.904500

In [23]:
from sklearn.svm import SVC

In [26]:
linear_model = SVC(kernel="linear")

In [18]:
linear_model.fit(train_x,label_x)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [19]:
linear_model.score(test_y,label_y)

0.9787735849056604

# **PART**(**B**)

In [21]:
x = [50,100,200,800]

for i in x:
  l = train_x[:i] 
  m = label_x[:i]
  linear_model.fit(l,m)
  score = linear_model.score(test_y,label_y)
  print(f"the score for first {i} dataset is {score}")

the score for first 50 dataset is 0.9811320754716981
the score for first 100 dataset is 0.9811320754716981
the score for first 200 dataset is 0.9811320754716981
the score for first 800 dataset is 0.9811320754716981

## **PART**(**C**) 
(i) FALSE, THE ERROR IS MORE IN Q=2

In [31]:
poly_model = SVC(kernel="poly", degree=2, C =.0001)
poly_model.fit(train_x,label_x)
poly_model.score(train_x,label_x)

0.6591928251121076

In [32]:
poly_model = SVC(kernel="poly", degree=5, C =.0001)
poly_model.fit(train_x,label_x)
poly_model.score(train_x,label_x)

0.9481101857783472

(ii) TRUE, Q =5 HAS 158 WHILE Q=2 HAS 558

In [35]:
poly_model = SVC(kernel="poly", degree=2, C =.001)
poly_model.fit(train_x,label_x)
poly_model.score(test_y,label_y)
a = poly_model.support_vectors_
print(len(a))

558

In [36]:
poly_model = SVC(kernel="poly", degree=5, C =.001)
poly_model.fit(train_x,label_x)
poly_model.score(test_y,label_y)
b = poly_model.support_vectors_
print(len(b))

158

TRUE, ITS BIT HIGHER THAN Q=2

In [37]:
poly_model = SVC(kernel="poly", degree=2, C =.01)
poly_model.fit(train_x,label_x)
poly_model.score(train_x,label_x)

0.9923126201153107

In [38]:
poly_model = SVC(kernel="poly", degree=5, C =.01)
poly_model.fit(train_x,label_x)
poly_model.score(train_x,label_x)

0.9916720051249199

(iv) TRUE, TEST ERROR BIT HIGHER THAN Q=5

In [39]:
poly_model = SVC(kernel="poly", degree=2, C =1)
poly_model.fit(train_x,label_x)
poly_model.score(test_y,label_y)

0.9811320754716981

In [40]:
poly_model = SVC(kernel="poly", degree=5, C =1)
poly_model.fit(train_x,label_x)
poly_model.score(test_y,label_y)

0.9834905660377359

# **PART(D)**
(a) test error , c= 100, 10000 has the lowest error

In [43]:
k=[0.01,1,100,10**4,10**6]
for i in k:
  rbf_model = SVC(kernel="rbf", C =i)
  rbf_model.fit(train_x,label_x)
  s = rbf_model.score(test_y,label_y)
  print(f"the score for c=  {i} is {s}")

the score for c=  0.01 is 0.9834905660377359
the score for c=  1 is 0.9787735849056604
the score for c=  100 is 0.9811320754716981
the score for c=  10000 is 0.9811320754716981
the score for c=  1000000 is 0.9764150943396226

(b) training error, c = 10000, 1000000 has the lowest error

In [44]:
k=[0.01,1,100,10**4,10**6]
for i in k:
  rbf_model = SVC(kernel="rbf", C =i)
  rbf_model.fit(train_x,label_x)
  s = rbf_model.score(train_x,label_x)
  print(f"the score for c=  {i} is {s}")

the score for c=  0.01 is 0.9948750800768738
the score for c=  1 is 0.9955156950672646
the score for c=  100 is 0.9967969250480462
the score for c=  10000 is 0.9974375400384369
the score for c=  1000000 is 0.9974375400384369